:global(.react-flow__controls-button) {
    background-color: var(--vscode-button-secondaryBackground);
    color: var(--vscode-button-secondaryForeground);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

:global(.react-flow__attribution) {
    background-color: var(--vscode-button-secondaryBackground);
    color: var(--vscode-button-secondaryForeground);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}